@page "/requestsuccessful"



<br /><br />
<br /><br />
<br />
<div class="border d-flex align-items-center justify-content-center" style="height: 350px;">
    <h3 class="align-middle alert alert-success">Request Successfully Submitted </h3>
</div>

<div class="border d-flex align-items-center justify-content-center" style="height: 350px;">
    <h6 class="alert alert-info">Please click <a href="/" class="alert-link"> Here </a> to go back to home screen!</h6>
</div>
